<body>
{{>header}}
<div style="width: 100%; height: 100%">
    <form method="post" action="/enter">
        <div align="center" class="enter-table">
            <table border="1" cellspacing="0">
                <tr align="center" valign="center" class="table-grey">
                    <td rowspan="2">Послуга</td>
                    <td rowspan="2">Початкове значення</td>
                    <td rowspan="2">Заводський №</td>
                    <td rowspan="2">Особистий рахунок</td>
                    <td colspan="2">Останні показання</td>
                    <td rowspan="2">Введіть нові показання</td>
                </tr>
                <tr align="center" valign="center" class="table-grey">
                    <td>Дата</td>
                    <td>Значення</td>
                </tr>
                <tr align="center" valign="center" >
                    <td>Електроенергія</td>
                    <td>{{electro_start_value}}</td>
                    <td>{{electro_counter_number}}</td>
                    <td>{{schet.electro}}</td>
                    <td>{{electro_date}}</td>
                    <td>{{electro_last_value}}</td>
                    <td><input type="text" name="electro"></td>
                </tr>
                <tr align="center" valign="center" class="table-grey">
                    <td>Водорозподіл</td>
                    <td>{{water_start_value}}</td>
                    <td>{{water_counter_number}}</td>
                    <td>{{schet.water}}</td>
                    <td>{{water_date}}</td>
                    <td>{{water_last_value}}</td>
                    <td><input type="text" name="water" class="table-grey"></td>
                </tr>
                <tr align="center" valign="center">
                    <td>Газ</td>
                    <td>{{gas_start_value}}</td>
                    <td>{{gas_counter_number}}</td>
                    <td>{{schet.gas}}</td>
                    <td>{{gas_date}}</td>
                    <td>{{gas_last_value}}</td>
                    <td><input type="text" name="gas"></td>
                </tr>
            </table>
            <input type="submit" value="Занести показання" class="enter-button" align="center">
        </div>
    </form>
    <br><br><br><br><br><br>
</div>
</body>